:root {
  /* THEME COLORS */
  --black: #0a2e36;
  --white: #fbfaf8;
  --gray: #6c757d;
  --orange: #ff9f1c;
  --blue: #3da5d9;
  --green: #3fa34d;

  /* VARIATIONS ON THEME COLORS */
  --light-blue: #e4f2fa;
  --dark-green: #286831;
  --dark-blue: #217ba7;
}

body {
  background-color: var(--light-blue);
  background-image: url(./assets/images/xs_and_os.svg);
}

p {
  color: var(--gray);
}

/* MISC [GENERAL] STYLING */
details {
  margin: 1em;
}

details summary::-webkit-details-marker {
  color: var(--gray);
  border: none;
}
details summary:focus {
  outline: none;
  border: none;
}
details summary {
  color: var(--gray);
  font-size: 2em;
}
/* CUSTOM BUTTONS */
.btn-small {
  height: 2.5em;
  width: 4.5em;
  border-radius: 8px;
}
.btn-medium {
  height: 3em;
  width: 6em;
  border-radius: 8px;
}
.btn-large {
  height: 3em;
  width: 8em;
  border-radius: 8px;
}
.btn-xLarge {
  height: 3em;
  width: 10em;
  border-radius: 8px;
}

.blue {
  background-color: var(--white);
  color: var(--dark-blue);
  border: 1px solid var(--dark-blue);
}
.blue:hover,
.blue:focus {
  border: 1px solid var(--black);
}
.green {
  background-color: var(--white);
  color: var(--dark-green);
  border: 1px solid var(--dark-green);
}
.green:hover,
.green:focus {
  border: 1px solid var(--black);
}

/* WELCOME SCREEN */
.welcome-screen-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;

  position: relative;
  top: 10em;
  padding: 1em;
  border-radius: 10%;
}

.welcome-screen {
  background-color: var(--white);
  width: 50%;
  padding: 2em;
  border-radius: 2em;
}
.welcome-screen-title {
  text-align: center;
}

/* WELCOME SCREEN ANIMATION */
.welcome-screen-title h1 {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;

  color: var(--gray);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 2em;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
/* WELCOME SCREEN ANIMATION end */
