:root {
  /* THEME COLORS */
  --black: #0a2e36;
  --white: #fbfaf8;
  --gray: #6c757d;
  --orange: #ff9f1c;
  --blue: #3da5d9;
  --green: #3fa34d;

  /* PASTEL:*/
  --pastel-yellow: #ffffba;
  --pastel-green: #baffc9;
  --pastel-purple: #b0b1d9;

  /* BRIGHT:*/
  --purple: #6f42c1;
}

body {
  background-color: #dfdbe5;
  background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

p {
  color: var(--black);
}

/* MISC [GENERAL] STYLING */
details {
  margin: 1em;
}

details summary::-webkit-details-marker {
  color: var(--purple);
  border: none;
}
details summary:focus {
  outline: none;
  border: none;
}
details summary {
  color: var(--pastel-purple);
  font-size: 2em;
}
/* CUSTOM BUTTONS */
.btn-small {
  height: 2.5em;
  width: 4.5em;
  border-radius: 8px;
}
.btn-medium {
  height: 3em;
  width: 6em;
  border-radius: 8px;
}
.btn-large {
  height: 3em;
  width: 8em;
  border-radius: 8px;
}
.btn-xLarge {
  height: 3em;
  width: 10em;
  border-radius: 8px;
}

.purple {
  background-color: var(--pastel-purple);
  color: var(--black);
  border: 1px solid var(--black);
}
.purple:hover,
.purple:focus {
  border: 1px solid var(--black);
}

.yellow {
  background-color: var(--pastel-yellow);
  color: var(--black);
  border: 1px solid var(--black);
}
.yellow:hover,
.yellow:focus {
  border: 1px solid var(--black);
}
.green {
  background-color: var(--pastel-green);
  color: var(--black);
  border: 1px solid var(--black);
}
.green:hover,
.green:focus {
  border: 1px solid var(--black);
}

/* WELCOME SCREEN */
.welcome-screen-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: darken(var(--pastel-purple), 10%);

  position: relative;
  top: 10em;
  padding: 1em;
  border-radius: 10%;
}

.welcome-screen {
  background-color: var(--white);
  width: 50%;
  padding: 2em;
  border-radius: 2em;
}
.welcome-screen-title {
  text-align: center;
}

/* WELCOME SCREEN ANIMATION */
.welcome-screen-title h1 {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;

  color: var(--purple);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 2em;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
/* WELCOME SCREEN ANIMATION end */


 /* Styles for the modal pop to configure your pet*/
 .configurePetModal{
  display: none;
  position: fixed; 
  padding-top:3em;
  left: 0; 
  top: 0;
  width: 100%;
  height: 100%; 
  overflow:auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.6); 

}
.petModal-content {
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
  border-radius:0.4em;
  letter-spacing:0.1em;
  color:var(--black);
  background-color:var(--pastel-purple);
  border:0.5em solid var(--purple);
  padding: 1.5em; 
  margin: auto; 
  width:50%;
}
.petModal-content h2{
  width:100%;
  text-align:center;
  font-size:1.6em;
  margin:0;
  
  
}
.petImage{
text-align:center;
}
.petModal-content img{
  width:100%;
  height:100%;
}
.petModal-content span{
  width:100%;
  margin-left:94%;
  
}
.petModal-content form{
  font-size:1.2em;
}
.petModal-content label{
  font-size:1.2em;
  font-weight:500;
}
.petModal-content input{
  padding: 0.5em;
  font-size:0.8em;
  border:0.1em solid var(--purple);
  border-radius:0.6em;
  box-shadow:0 0 15px 4px rgba(228, 177, 177, 0.06);
  margin:1em;
}

.save{
  text-align:center;
  text-decoration:none;
  color:var(--black);
  background-color: var(--pastel-purple);
  padding:0.8em 2em;
  margin:auto;
  font-size:1em;
  font-weight:500;
  border-radius: 0.3em;
  border:0.1em solid var(--purple);
}

.save:hover{
  border: 0.2em solid var(--purple);
}
.petModalClose {
  width:50%;
  color: var(--purple); 
  font-size: 2em;  
  font-weight: bold;
  cursor: pointer;
}


 /* Styles for the game instructions modal*/
 .instructionsModal{
  display: none;
  position: fixed; 
  padding-top:3em;
  left: 0; 
  top: 0;
  width: 100%;
  height: 100%; 
  overflow:auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.6); 

}
.instructionsModal-content {
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
  border-radius:0.4em;
  letter-spacing:0.1em;
  color:var(--black);
  background-color:var(--pastel-purple);
  border:0.5em solid var(--purple);
  padding: 1.5em; 
  margin: auto; 
  width:50%;
}
.instructionsModal-content h2{
  width:100%;
  text-align:center;
  font-size:1.6em;
  
  
}
.instructionsModal-content img{
  width:50%;
  height:40%;
}
.instructionsModal-content span{
  width:100%;
  margin-left:94%;
  
}
.instructionsModal-content p{
  width:100%;
  margin:0.01em;
 color:var(--dark);
  
}
.instructionsModal-content form{
  font-size:1.2em;
}
.instructionsModal-content label{
  font-size:1.2em;
  font-weight:500;
}
.instructionsModal-content input{
  padding: 0.5em;
  font-size:0.8em;
  border:0.1em solid var(--purple);
  border-radius:0.6em;
  box-shadow:0 0 15px 4px rgba(228, 177, 177, 0.06);
  margin:1em;
}

.play{
  text-align:center;
  text-decoration:none;
  color:var(--black);
  background-color: var(--pastel-purple);
  padding:0.8em 2em;
  margin:auto;
  font-size:1em;
  font-weight:500;
  border-radius: 0.3em;
  border:0.1em solid var(--purple);
}

.button{
  padding:2em;
}
.play:hover{
  border: 0.2em solid var(--purple);
}
.instructionsModalClose {
  width:50%;
  color: var(--purple); 
  font-size: 2em;  
  font-weight: bold;
  cursor: pointer;
}