:root {
  /* PASTEL:*/
  --pastel-pink: #ffb3ba;
  --pastel-orange: #ffdfba;
  --pastel-yellow: #ffffba;
  --pastel-green: #baffc9;
  --pastel-blue: #bae1ff;
  --pastel-red: #ff6961;
  --pastel-purple: #b0b1d9;

  /* BRIGHT:*/  
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fdfdfd;


   /**/ 
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;

   /* DARK:*/ 
  --dark: #343a40;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --dark-burgundy: #262626;
}

body {
    background-color:var(--white);
  }
  h1 {
    color: var(--pastel-purple);
  }
  p {
    color: var(--dark-burgundy);
  }